parameters:
  level: 5
  paths:
    - config
    - lib
    - woocommerce
    - serbian-addons-for-woocommerce.php
  excludePaths:
    analyse:
      - lib/Modules/Gateway/Services/QR_*.php
  bootstrapFiles:
    - constants.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
  ignoreErrors:
    -
      identifier: argument.type
      paths:
        - lib/Utils/Payments.php
    -
      identifier: constant.notFound
      paths:
        - config/*
        - lib/Modules/Admin/Services/Settings_Page.php
        - lib/Modules/Gateway/Services/Gateway_Payment_Slip.php
        - lib/Utils/Installer.php
        - lib/Utils/Template_Extender.php
        - lib/App.php
