.wcsrb-company-settings {
  .repeater-row {
    margin-bottom: 15px;
  }

  .repeater-remove-row {
    color: #d00;
    border-color: #d00;
  }
}

.wcsrb-slip-settings {
  a.replacement {
    user-select: none;
  }
}

#wcsrb-ips-qr-code {
  .ips-qr-copy-success {
    display: inline-block;
    line-height: 30px;
    min-height: 30px;
    margin-left: 10px;
    color: rgb(134, 212, 76);
  }
}
