.wcsrb-company-settings {
  .repeater-row {
    margin-bottom: 15px;
  }

  .repeater-remove-row {
    color: #d00;
    border-color: #d00;
  }
}

.wcsrb-slip-settings {
  a.replacement {
    user-select: none;
  }
}
