name: Deploy to WP.org svn
on:
  release:
    types: [published]
jobs:
  tag:
    name: Tag deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 16
          cache: yarn
      - name: Cache Composer dependencies
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - name: Install composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: '8.0'
          version: 2
          dev: no
          quiet: yes
          args: --optimize-autoloader --classmap-authoritative --prefer-dist
      - name: Install Yarn dependencies
        run: yarn install
      - name: Build
        run: 'yarn build:production'
      - name: Pre deploy scripts
        run: 'sh ./.github/scripts/deploy.sh'
      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_USERNAME: ${{ secrets.WP_ORG_SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.WP_ORG_SVN_PASSWORD }}
          ASSETS_DIR: '.wordpress-org/assets'
        with:
          generate-zip: false
